* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	margin: 0.5rem;
	padding: 0.5rem;
	border: 2px solid gray;
}

.blue-text {
	color: blue;
}

.bg-yellow {
	margin-top: 0.5rem;
	margin-bottom: 1rem;
	background-color: yellow;
}

.bg-green {
	margin-top: 1rem;
	margin-bottom: 1rem;
	background-color: green;
}

.bg-black {
	background-color: rgb(0,0,0);
}

.red-text {
	color: red;
}

.bg-blue {
	background-color: blue;
	margin-top: 1rem;
}