* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	border: 2px solid gray;
	margin: 0.5rem;
	padding: 2px;
}

#mySection {
	background-image: url(https://www.beano.com/wp-content/uploads/legacy/41795_BLACK-and-PINK.jpg?strip=all&quality=86&w=434);
	background-repeat: repeat-y;
	background-size: 100%;
	color: white;
	padding-left: 0.5rem;
}

#mySection h2 {
	padding-top: 0.5rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

#mySection img {
	height: 15rem;
	width: auto;
	margin-bottom: 1rem;
}

#mySection h3 {
	margin-bottom: 0.5rem;
}

#mySection hr, h5 {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

img ~ img {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}



