* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
	background-color: rgba(255,165,0);
	height: 2.5rem;
}

ul {
	padding-top: 5px;
	padding-bottom: 5px;
	position: relative;
	left: 2rem;
	top: 0.3rem;
}

li {
	display: inline;
	margin: 0.8rem;
	padding: 0.8rem;
	font-family: 'Montserrat',sans-serif;
}

a {
	text-decoration: none;
	color: white;
}

.brand {
	font-weight: bold;
}

#introduction {
	background-color: rgba(0,0,0,0.2);
	min-height: 24rem;
}

h1 {
	text-align: center;
	font-family: 'Montserrat',sans-serif;
	font-weight: 400;
	font-size: 3.5rem;
	padding-top: 6rem;
}

p {
	text-align: center;
	font-family: 'Montserrat',sans-serif;
	font-style: italic;
	font-weight: 400;
	font-size: 20px;
}

.btn-cta {
	display: block;
	text-align: center;
	background-color: rgba(255,165,0);
	margin-top: 5rem;
	font-size: 1.125rem;
	font-weight: 500;
	font-family: 'Montserrat', serif;
	width: 10rem;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 1.5rem
}