* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin-left: 2rem;
	margin-right: 2rem;
}

.header {
	margin-top: 5px;
	border-top: 2px solid lightgray;
	background-color: white;
	position: sticky;
	top: 0;
	z-index: 1;
}

.subheader {
	border-bottom: 2px solid lightgray;
}

.nav {
	display: inline;
	list-style-type: none;
	margin: 0.8rem;
	padding: 0.8rem;
	position: relative;
	top: 1.5rem;
	font-family: 'arial',sans-serif;
}

.right-nav {
	float: right;
}

.news-logo {
	margin: 0.5rem;
	display: inline-block;
	height: auto;
	width: 3rem;
	content: url(https://static.wikia.nocookie.net/logopedia/images/0/08/KBS_Symbol.svg/revision/latest?cb=20201110224929);
	background-size: 100%;
	background-position: top;
	background-repeat: no-repeat;

}

.kbs-news {
	display: inline-block;
	padding: 0.5rem;
	position: relative;
	bottom: 1.5rem;
	right: 0.5rem;
	font-family: 'Abril Fatface', cursive;
	letter-spacing: 5px;
	font-size: 24px;
}

#news-slogan {
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 5px;
	font-size: 20px;
	font-weight: bold;
}

#read-news {
	font-family: 'arial',sans-serif;
	font-size: 1rem;
	text-align: center;
	color: white;
	background-color: lightgray;
	border-radius: 5px;
	width: 10rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-bottom: 5px;

}

#news-articles {
	padding-bottom: 1rem;
	text-align: center;
}

#news-articles .article {
	display: inline-block;
	vertical-align: top;
	width: 49.5%;
	text-align: justify;
	padding: 1.5%;
}

.article-title {
	font-family: 'lora', serif;
	font-weight: lighter;
	font-size: 2.5rem;
}

.author {
	padding-top: 2px;
	padding-bottom: 2px;
	margin-bottom: 5px;
	text-transform: uppercase;
	font-size: 0.75rem;
	font-family: 'arial', sans-serif;
	font-weight: bold; 
	color: red;
}

.article-content {
	font-family: 'lora', serif;
	font-size: 1.125rem;
	line-height: 1.5;
}

.article-img {
	display: block;
	text-align: center;
}

#article-1-img {
	height: auto;
	width: 100%;
	max-width: inherit;
}

#article-2-img {
	height: auto;
	width: 100%;
	max-width: inherit;
}

#article-3-img {
	height: auto;
	width: 100%;
	max-width: inherit;
}


